#sudoku_header {
  	top: 50px;
  	text-align: center;
	background-color: rgb(22, 16, 54);
	font-family:'PokemonFont';
	color: rgba(172, 213, 255, 0.856);
	text-shadow: 1px 1px rgb(236, 231, 229);
	font-size: 58px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-radius: 5px;
	border: 3px solid rgb(45, 36, 97);
	background-blend-mode: lighten;
	margin-bottom: 20px;
	
}
#temp {
	position: relative;
}
.sudoku_board {	
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;


}
#validate_box {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 150px;
	border:solid 1px red;
	border-radius: 8px;

	background-color: silver;
	z-index: 100;
}
#validate_message {
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	color: red;
}

.cancel_or_confirm {
	display: flex;
}


.cancel_btn {
	width: 85px;
	font-size: 18px;
	background-color: transparent;
	border-radius: 8px;
	border-color: red;
	font-family: 'Montserrat', sans-serif;
}
.cancel_btn:hover {
	color: blue;
}

.confirm_btn {
	width: 90px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 8px;
	border-color: orange;
	background-color: transparent;
}
.confirm_btn:hover {
	color: pink;
}

.style_btn {
display: flex;
  transition: all 0.3s;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 25px;
  user-select: none;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: orange;
  color: blue;
  border: 2px solid yellow;
  border-radius: 50%;
  margin: 5px;
}
.style_btn:hover {
	cursor: pointer;
    color: red;
}  